/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  .nav-content {
    border: red solid 2px ;
  } */

#testing {
    border-color: #05d5f0;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    display: block;
    width: 50%;
    height: 50%;
    transition: background-color 2s, transform 2s;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
}

.input {
  box-sizing: content-box;
  padding: 30px;
  border-radius: 10px;

}

.weather {
  margin: 100px;
  padding: 0;
  box-sizing: border-box;
}

.weather {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
  text-align: left;
  margin: 40px;
}

input[type="text"]{
  height: 20px;
  width: 60px;
  background-color:  orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 2px;
  border-radius: 10px;
}

.input[type="submit"] {
  height: 50px;
  width: 60px;
  background-color:  orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 2px;
}